/* search */
.container {
    .search {
        background-color: #f0f0f0;
        border-radius: 20px;
        padding: 40px 20px;
        margin: 30px 0;
        .searchInput {
            display: flex;
            button {
                border-radius: 10px;
                margin-left: 10px;
            }
        }
    }
    .searchResultWrap {
        background-color: #f0f0f0;
        padding: 20px;
        border-radius: 20px;
        .searchResult {
            background-color: #ffffff;
            border-radius: 20px;
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            .row1 {
                display: flex;
                flex-basis: 90%;
                .row1-1 {
                    flex-basis: 20%;
                    display: flex;
                    flex-direction: column;
                    padding-right: 30px;
                    border-right: 2px dashed #0070f3;
                    justify-content: center;
                    &:nth-of-type(2) {
                        flex-basis: 80%;
                        padding-left: 30px;
                        border-right: none;
                    }
                    .col1 {
                        font-size: 0.8rem;
                        margin-bottom: 10px;
                    }
                    .col2 {
                        font-size: 0.5rem;
                    }
                }
            }
            .row2 {
                flex-basis: 70%;
                display: flex;
                justify-content: center;
                flex-basis: 10%;
                .btn {
                    font-size: 0.8rem;
                }
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;

        &.pagination {
            display: flex;
            justify-content: center;
            margin: 30px;

            li {
                display: inline-block;
                width: auto;
                min-width: 30px;
                padding: 0 5px;
                height: 30px;
                border: 1px solid #e2e2e2;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                &:first-child {
                    border-radius: 5px 0 0 5px;
                }
                &:last-child {
                    border-radius: 0 5px 5px 0;
                }
                a {
                    text-decoration: none;
                    color: #337ab7;
                    font-size: 1rem;
                    &:hover,
                    &.active {
                        color: blue;
                    }
                }
                &.active {
                    background-color: #337ab7;
                    a {
                        color: white;
                    }
                }
            }

            .page-selection {
                width: 48px;
                height: 30px;
                color: #337ab7;
            }
        }
    }
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
    .container {
        .search {
            margin: 30px;
        }
        .searchResultWrap {
            margin: 30px;
            margin-top: 0;
        }
    }
}
