/* board */
.board {
    background-color: #f0f0f0;
    padding: 10px 30px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
    min-height: 340px;
    transition: all 0.5s;
    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .category {
        margin-right: 15px;
    }
    .tabBody {
        height: 100%;
    }
    .tab-content{
        height: 100%;
    }
}

.mainBoardWrap {
    background-color: rgba(0, 112, 243);
    padding: 10px;
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: end;
        background-color: #fff;
        margin: 5px;
        border-radius: 20px;
        padding: 10px 20px;
        .title {
        }
        .authorCreate {
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
    .mainBoardWrap {
        .content {
            .title {
                font-size: 0.8rem;
            }
            .authorCreate {
                font-size: 0.5rem;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .board {
        margin: 0 30px 30px;
        .category {
            margin-bottom: 15px;
        }
    }
}
