/* user */
.userWrap {
    .user,
    .yetUser {
        height: 350px;
        margin: 30px 30px 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }
    .yetUser {
        .btn {
            position: relative;
            z-index: 4;
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            svg {
                font-size: 30px;
                margin-right: 10px;
            }
        }
    }
    .user {
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: contain;
            border: 1px solid rgb(215, 215, 215);
        }
        .userInf {
            display: flex;
            flex-direction: column;
            align-items: center;
            .nickname {
                margin-top: 10px;
                font-size: 1.5rem;
            }
            .email {
                margin-top: 10px;
                font-size: 1rem;
                color: #0070f3;
            }
        }
        .specialize {
            display: flex;
            margin-top: 10px;
            span {
                padding: 5px 10px;
                display: inline-block;
                background: #fff;
                color: #000;
                border-radius: 15px;
                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
        .triangle {
            width: 200px;
            height: 200px;
            position: absolute;
            background-color: #0070f3;
            right: -100px;
            bottom: -100px;
            transform: rotate(45deg);
            display: flex;
            align-items: center;
            span {
                transform: rotate(-90deg);
                color: #fff;
                font-weight: bold;
            }
        }
    }

    .calender {
        height: 350px;
        background-color: #f0f0f0;
        margin: 30px 0 30px 0px;
        padding: 30px;
        border-radius: 20px;
        .react-datepicker {
            width: 100%;
            border-radius: 20px;
            border: none;
            background-color: #f0f0f0;
            .react-datepicker__month-container {
                width: 100%;
                .react-datepicker__header {
                    background: #fff;
                    border-radius: 20px;
                    border: 1px solid #e0e0e0;
                    padding: 10px;
                    .react-datepicker__current-month {
                        color: #0070f3;
                    }
                    .react-datepicker__day-name {
                        color: #0070f3;
                        width: 2rem;
                    }
                }
                .react-datepicker__month {
                    background: #e0e0e0;
                    margin: 0;
                    border-radius: 20px;
                    padding: 10px;
                    .react-datepicker__day--outside-month {
                        opacity: 0;
                    }
                    .react-datepicker__day {
                        width: 2rem;
                    }
                }
            }
            .react-datepicker__navigation {
                top: 10px;
            }
        }
    }
}
/* register */
.modal {
    .modal-dialog {
        .modal-content {
            .modal-body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                img {
                    display: block;
                    margin: 0 auto;
                    width: 100px;
                    height: 100px;
                    margin-bottom: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                label {
                    color: #0070f3;
                    font-weight: bold;
                }
                > input {
                    width: 100%;
                    height: 40px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    background-color: #f0f0f0;
                    font-size: 0.8rem;
                    padding: 0 10px;
                    &#avatar {
                        background-color: transparent;
                        padding-top: 10px;
                    }
                }
                p {
                    color: #0070f3;
                    font-weight: bold;
                }
                .specialize {
                    display: flex;
                    flex-wrap: wrap;
                    input {
                        margin-right: 5px;
                    }
                    label {
                        margin-right: 10px;
                        color: #7d7d7d;
                    }
                }
            }
        }
    }
}

/* search */
.search {
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 40px 20px;
    margin-bottom: 30px;
    .searchInput {
        display: flex;
        button {
            border-radius: 10px;
            margin-left: 10px;
        }
    }
}

/* board */
.board {
    background-color: #f0f0f0;
    padding: 60px 30px 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

/* dev */
.box1,
.box2 {
    display: flex;
    background-color: #f0f0f0;
    border-radius: 20px;
    padding: 20px;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}
.box1 {
    position: relative;
    overflow: hidden;
    justify-content: space-between;
    margin-left: 20px;
    &.nth1 {
        margin-left: 0;
    }
    .box1Img {
        flex-basis: 40%;
        margin-right: 10px;
        img {
            width: 120px;
            height: 120px;
        }
    }
    .box1Text {
        flex-basis: 60%;
        .box1Title {
            font-weight: bold;
        }
        .box1Content {
            font-size: 0.7rem;
            color: #bbb;
        }
    }
    .boxTriangle {
        width: 125px;
        height: 125px;
        position: absolute;
        background-color: #0070f3;
        right: -62px;
        bottom: -62px;
        transform: rotate(45deg);
        display: flex;
        align-items: center;
    }
}
.box2 {
    margin-bottom: 20px;
    .box2Title {
        flex-basis: 70%;
        h2 {
            background: -webkit-linear-gradient(45deg, #bbb, #0070f3);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .sticker {
            .hashtag {
                display: inline-block;
                padding: 5px 20px 8px;
                margin-top: 20px;
                margin-right: 10px;
                color: #fff;
                background-color: #4b95ea;
                width: auto;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            }
        }
    }
    .box2Img {
        flex-basis: 30%;
    }
}

.footerWrap {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #0070f3;
    border-radius: 20px;
    margin: 30px 0;
    .column1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .logo {
            color: #fff;
            font-size: 1.4rem;
        }
        .copyright {
            color: #fff;
            font-size: 0.6rem;
        }
    }
    .column2 {
        display: flex;
        .category {
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            a {
                color: #fff;
                margin-bottom: 10px;

                &.menu {
                }
                &.submenu {
                    font-size: 0.8rem;
                    color: #eee;
                }
            }
        }
        .connect {
            p {
                color: #fff;
                margin-bottom: 5px;
            }
            .info {
                address {
                    color: #fff;
                    margin: 0;
                    font-size: 0.8rem;
                    margin-bottom: 5px;
                }
            }
            a {
                color: #fff;
                margin-right: 10px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .userWrap {
        .user,
        .yetUser {
            margin: 30px 0px;
        }
        .calender {
            margin: 0px 0px 30px;
            .react-datepicker {
                .react-datepicker__month-container {
                    .react-datepicker__header {
                        .react-datepicker__day-name {
                            color: #0070f3;
                            width: 2.5rem;
                        }
                    }
                    .react-datepicker__month {
                        .react-datepicker__day {
                            width: 2.5rem;
                        }
                    }
                }
            }
        }
    }
    .box1 {
        min-height: 190px;
        &.nth0,
        &.nth2 {
            margin-left: 0;
        }
        &.nth1 {
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
    .footerWrap {
        display: flex;
        flex-direction: column;
        padding: 30px 50px;
        .column1 {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
        }
        .column2 {
            display: flex;
            justify-content: space-between;
            .category {
                display: flex;
                flex-direction: column;
                margin-right: 30px;
                a {
                    margin-bottom: 5px;

                    &.menu {
                        font-size: 0.8rem;
                    }
                    &.submenu {
                        font-size: 0.6rem;
                    }
                }
            }
            .connect {
                p {
                    font-size: 0.8rem;
                }
                .info {
                    address {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footerWrap {
        padding: 30px 30px;
        .column1 {
        }
        .column2 {
            .category {
                margin-right: 20px;
                a {
                    margin-bottom: 5px;

                    &.menu {
                        font-size: 0.6rem;
                    }
                    &.submenu {
                        font-size: 0.4rem;
                    }
                }
            }
            .connect {
                p {
                    font-size: 0.6rem;
                }
                .info {
                    address {
                        font-size: 0.4rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .userWrap {
        .user,
        .yetUser {
            height: 280px;
            margin: 30px 30px 0px;
            .userInf {
                display: flex;
                flex-direction: column;
                text-align: center;
                .nickname {
                    font-size: 1.2rem;
                }
                .email {
                    margin-top: 10px;
                    font-size: 0.8rem;
                }
            }
            .skill {
                span {
                    font-size: 0.8rem;
                }
            }
        }
        .calender {
            margin: 30px 30px 30px 30px;
            .react-datepicker {
                .react-datepicker__month-container {
                    .react-datepicker__header {
                        .react-datepicker__day-name {
                            color: #0070f3;
                            width: 1.8rem;
                        }
                    }
                    .react-datepicker__month {
                        .react-datepicker__day {
                            width: 1.8rem;
                        }
                    }
                }
            }
        }
    }
    .search {
        margin: 0 30px 30px;
    }
    .board {
        margin: 0 30px 30px;
    }
    .box1 {
        &.nth0,
        &.nth1,
        &.nth2,
        &.nth3 {
            margin: 0 30px 30px;
        }
    }
    .box2 {
        min-height: 200px;
        display: block;
        margin: 0 30px 30px;
        .box2Title {
            .sticker {
                width: 100%;
            }
        }
        .box2Img {
            display: none;
        }
    }
    .footerWrap {
        margin: 0 30px 30px;
        .column1 {
        }
        .column2 {
            .category {
                margin-right: 15px;
                a {
                    margin-bottom: 5px;

                    &.menu {
                        font-size: 0.4rem;
                    }
                    &.submenu {
                        font-size: 0.2rem;
                    }
                }
            }
            .connect {
                p {
                    font-size: 0.4rem;
                }
                .info {
                    address {
                        font-size: 0.2rem;
                    }
                }
            }
        }
    }
}
