/* user */
.userWrap {
    .user {
        height: 350px;
        margin: 30px 30px 30px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 20px;

        .btn {
            position: relative;
            z-index: 4;
            width: 160px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            justify-content: center;
            margin-bottom: 10px;
            svg {
                font-size: 30px;
                margin-right: 10px;
            }
        }
        img {
            width: 100px;
        }
        .userInf {
            display: flex;
            flex-direction: column;
            .nickname {
                margin-top: 10px;
                font-size: 1.5rem;
            }
            .email {
                margin-top: 10px;
                font-size: 1rem;
                color: #0070f3;
            }
        }
        .skill {
            display: flex;
            margin-top: 10px;
            span {
                padding: 5px 10px;
                display: inline-block;
                background: #fff;
                color: #000;
                border-radius: 15px;
                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }

    .calender {
        height: 350px;
        background-color: #f0f0f0;
        margin: 30px 0 30px 0px;
        padding: 30px;
        border-radius: 20px;
        .react-datepicker {
            width: 100%;
            border-radius: 20px;
            border: none;
            background-color: #f0f0f0;
            .react-datepicker__month-container {
                width: 100%;
                .react-datepicker__header {
                    background: #fff;
                    border-radius: 20px;
                    border: 1px solid #e0e0e0;
                    padding: 10px;
                    .react-datepicker__current-month {
                        color: #0070f3;
                    }
                    .react-datepicker__day-name {
                        color: #0070f3;
                        width: 2rem;
                    }
                }
                .react-datepicker__month {
                    background: #e0e0e0;
                    margin: 0;
                    border-radius: 20px;
                    padding: 10px;
                    .react-datepicker__day--outside-month {
                        opacity: 0;
                    }
                    .react-datepicker__day {
                        width: 2rem;
                    }
                }
            }
            .react-datepicker__navigation {
                top: 10px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .userWrap {
        .user {
            margin: 30px 0px;
        }
        .calender {
            margin: 0px 0px 30px;
            .react-datepicker {
                .react-datepicker__month-container {
                    .react-datepicker__header {
                        .react-datepicker__day-name {
                            color: #0070f3;
                            width: 2.5rem;
                        }
                    }
                    .react-datepicker__month {
                        .react-datepicker__day {
                            width: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
    .userWrap {
        .user {
            height: 280px;
            margin: 30px;
            .userInf {
                display: flex;
                flex-direction: column;
                text-align: center;
                .nickname {
                    font-size: 1.2rem;
                }
                .email {
                    margin-top: 10px;
                    font-size: 0.8rem;
                }
            }
            .skill {
                span {
                    font-size: 0.8rem;
                }
            }
        }
        .calender {
            margin: 0px 30px 30px 30px;
        }
    }
}
