/* reset */
// 더잠실체 https://company.lottemart.com/company/font_jamsil.asp
@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 62.5%;
    body {
        font-family: 'TheJamsil5Bold', cursive;
        line-height: 1.6;
        font-size: 1em;
        box-sizing: border-box;
        p {
            padding: 0;
            margin: 0;
        }

        a {
            color: #0070f3;
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        img {
            max-width: 100%;
            display: block;
        }
        pre {
            margin: 0;
        }

        .container {
            --bs-gutter-x: 0;
            .row {
                --bs-gutter-x: 0 > * {
                    padding: 0;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    html { font-size: 70%; }
}

@media (min-width: 575px) {
    html { font-size: 80%; }
}

@media (min-width: 768px) {
    html { font-size: 120%; }
}

@media (min-width: 991px) {
    html { font-size: 150%; }
}