/* reset */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    font-family: "Spoqa Han Sans Neo", "sans-serif";
}
html,
body {
    line-height: 1.6;
    font-size: 18px;
    box-sizing: border-box;
    p {
        padding: 0;
        margin: 0;
    }

    a {
        color: #0070f3;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    img {
        max-width: 100%;
        display: block;
    }

    .container {
        --bs-gutter-x: 0;
        .row {
            --bs-gutter-x: 0
            > * {
                padding: 0;
            }
        }
    }
}
