.container {
    .searchDetail {
        position: relative;

        .btnWrap {
            width: 100%;
            margin: 30px 0;
        }
        .loadingTable {
            h2 {
                padding: 9px 0 20px;
                margin: 0 9px;
                border-bottom: 5px solid #0070f3;
            }
            .placeholder {
                height: 25px;
            }
        }
        .detail {
            h2 {
                padding-bottom: 20px;
                border-bottom: 5px solid #0070f3;
            }
        }
        .comment {
            h4 {
                margin: 20px 0 10px;
            }
            .inputComment {
                margin: 20px 0;
                display: flex;
                height: 50px;
                input {
                    margin-left: auto;
                    border: 1px solid #0070f3;
                    flex-basis: 90%;
                    border-radius: 10px 0 0 10px;
                    padding: 5px 10px;
                    &::placeholder {
                        color: red;
                      }
                }
                button {
                    flex-basis: 10%;
                    border: none;
                    background-color: #0070f3;
                    color: #fff;
                    flex-basis: 10%;
                    border-radius: 0px 10px 10px 0px;
                }
            }
            .commentWrap {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 50%;
                max-width: 650px;
                min-height: 100px;
                padding: 20px;
                border: 1px solid #ddd;
                border-radius: 10px 10px 0px 10px;
                margin-bottom: 10px;
                margin-left: auto;
                .author {
                    font-size: 0.8rem;
                    .time {
                        margin-left: 10px;
                        font-size: 0.7rem;
                        color: #9d9d9d;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
    .container {
        .searchDetail {
            margin: 0 30px;
        }
    }
}
