.mypageWrap {
    z-index: 9999999;
    width: 9rem;
    position: fixed;
    bottom: 30px;
    right: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .buttons {
        display: flex;
        justify-content: center;
        flex-direction: column;
        button {
            width: 3rem;
            height: 3rem;
            position: relative;
            background-color: #fff;
            margin-bottom: 10px;
            border-radius: 50%;
            font-size: 25px;
            border: 2px solid #000;
            svg{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
            p {
                width: 4rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                display: none;
                font-size: 0.8rem;
                background-color: black;
                color: #fff;
                padding: 5px 0;
            }
            &:hover {
                p {
                    display: block;
                }
            }
        }
    }
    .mypage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }
}
