/* bootstrap */
/* nav */

.navbar {
    .container {
        height: auto;
        background-color: #262626;
        border-radius: 20px;
        padding: 10px 20px;
        a {
            color: #fff;
        }
        .navbar-brand {
            color: #0070f3;
        }
        .navbar-toggler {
            .navbar-toggler-icon {
                border-radius: 7px;
                background-color: #fff;
            }
        }
        .navbar-collapse {
            justify-content: end;
            .navbar-nav {
                margin: 0 20px;
                & .show {
                    text-decoration: none;
                    color: #0070f3;
                }
                .dropdown-menu {
                    background-color: #262626;
                }
                .signinup {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .navbar {
        .container {
            .navbar-collapse {
                .navbar-nav {
                    .dropdown-divider {
                        border: 1px solid #fff;
                    }
                    .signinup {
                        display: block;
                    }
                }
            }
        }
    }
}
